<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   
    <!-- Location of the Log4J config file, for initialization and refresh checks. Applied by Log4jConfigListener. -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>file:///${catalina.home}/app/config/uc/log4j_management.properties</param-value>
    </context-param>
    <!-- Location of the XML file that defines the root application context. Applied by ContextLoaderServlet. -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:management_core.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!-- Loads the root application context of this web app at startup, by default from "/WEB-INF/applicationContext.xml". Use 
    WebApplicationContextUtils.getRequiredWebApplicationContext(servletContext); to access it anywhere in the web application, 
    outside of the framework. The root context is the parent of all servlet-specific contexts. This means that its beans are 
    automatically available in these child contexts, both for getBean(name) calls and (external) bean references. -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring web MVC servlet that dispatches requests to registered handlers. Has its own application context, by default 
    defined in "{servlet-name}-servlet.xml", i.e. "rest-servlet.xml" in this case. A web app can contain any number of such servlets. 
    Note that this web app has a shared root application context, serving as parent of all DispatcherServlet contexts. -->
    <servlet>
        <servlet-name>spring-mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:management_mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc-dispatcher</servlet-name>
        <url-pattern>/management/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharacterEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>httpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>httpMethodFilter</filter-name>
        <servlet-name>platform</servlet-name>
    </filter-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>