<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/jee 
       http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">

    <context:component-scan base-package="com.runmit.clotho.core" />
    
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">  
        <property name="requestFactory">  
            <bean class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">  
                <constructor-arg ref="httpClient"/>
                <property name="connectTimeout" value="${rest.service.connectionTimeout}"/>
                <property name="readTimeout" value="${rest.service.timeout}"/>
            </bean>  
        </property> 
        <!-- <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>  
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>  
            </list>
        </property>  -->
    </bean>  
    <bean id="httpClient" class="org.apache.http.impl.client.MinimalHttpClient">
        <constructor-arg>
            <bean class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"/>
        </constructor-arg>
    </bean>
</beans>