<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/jee 
       http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">

    <!--Datasource,i.e. default datasource -->
    <bean id="dataSourceLOG" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${log.jdbc.driverClassName}" />
        <property name="jdbcUrl" value="${log.jdbc.url}" />
        <property name="user" value="${log.jdbc.username}" />
        <property name="password" value="${log.jdbc.password}" />
        <property name="minPoolSize" value="${log.jdbc.minPoolSize}" />
        <property name="initialPoolSize" value="${log.jdbc.initialPoolSize}" />
        <property name="maxPoolSize" value="${log.jdbc.maxPoolSize}" />
        <property name="maxStatements" value="${log.jdbc.maxStatements}" />
        <property name="maxIdleTime" value="${log.jdbc.maxIdleTime}" />
        <property name="checkoutTimeout" value="${log.jdbc.checkoutTimeout}" />
        <property name="acquireIncrement" value="${log.jdbc.acquireIncrement}" />
        <property name="maxConnectionAge" value="${log.jdbc.maxConnectionAge}" />
        <property name="maxIdleTimeExcessConnections" value="${log.jdbc.maxIdleTimeExcessConnections}" />
        <property name="preferredTestQuery" value="${log.jdbc.preferredTestQuery}" />
        <property name="testConnectionOnCheckout" value="${log.jdbc.testConnectionOnCheckout}" />
        <property name="idleConnectionTestPeriod" value="${log.jdbc.idleConnectionTestPeriod}" />
        <property name="numHelperThreads" value="${log.jdbc.numHelperThreads}" />
    </bean>

    <bean id="transactionManagerLOG"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceLOG" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManagerLOG" />

    <bean id="sqlSessionFactoryLOG" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceLOG" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.runmit.clotho.log.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryLOG" />
    </bean>
</beans>